.nav-link {
  color: #ccc !important;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #fff !important;
}

.active-link {
  color: #fff !important;
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0d6efd;
  left: 0;
  bottom: -4px;
}
